[package]
name = "caretta-framework-migration"
edition.workspace = true
version.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
sea-orm-migration.workspace = true
tokio.workspace = true
