[submodule "mtid-proto"]
	path = mtid-proto
	url = https://github.com/fluo10/mtid-proto
[submodule "core/mtid-proto"]
	path = core/mtid-proto
	url = https://github.com/fluo10/mtid-proto
[submodule "core/caretta-sync-proto"]
	path = core/caretta-sync-proto
	url = https://github.com/fluo10/caretta-sync-proto
