[package]
name = "caretta-sync"
edition.workspace = true
version.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true
exclude = ["/.github", "/.gitignore", "/.gitmodules", "/.vscode"]

[features]
default = []
engine = []
desktop = []
gui = []
mobile = ["engine", "gui"]
client = ["desktop"]
cli = ["client", "desktop"]
server = ["engine", "desktop"]

macros = ["dep:caretta-sync-macros"]

[[example]]
name = "cli"
required-features = ["cli"]

[[example]]
name = "server"
required-features = ["server"]

[[example]]
name = "gui"
required-features = ["gui", "desktop", "macros"]

[dependencies]
base32 = "0.5.1"
caretta-id = { version = "0.11.0-rc.1", features = [ "sea-orm", "serde" ] }
caretta-sync-macros = {workspace = true, optional = true}
caretta-sync-migration.workspace = true
chrono.workspace = true
ciborium = "0.2.2"
ed25519-dalek = "3.0.0-pre"
iroh = { version = "0.95.1", features = [ "discovery-local-network", "discovery-pkarr-dht" ] }
iroh-docs = "0.95.0"
iroh-ping = "0.7.0"
irpc = "0.11.0"
n0-future = "0.3.1"
quinn = { package = "iroh-quinn", version = "0.14.0", default-features = false }
rand = "0.9.2"
sea-orm = { version = "2.0.0-rc", features = [ "sqlx-sqlite", "runtime-tokio-rustls", "macros", "with-uuid", "with-chrono" ] }
sea-orm-migration = { version = "2.0.0-rc", features = [ "sqlx-sqlite", "runtime-tokio-rustls" ] }
serde = "1.0.228"
thiserror = "2.0.17"
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
uuid = { version = "1.18.1", features = ["v7"] }
gethostname = "1.1.0"
async-trait.workspace = true
iroh-blobs = "0.97.0"
iroh-gossip = "0.95.0"

[dev-dependencies]
tempfile.workspace = true

[workspace]
members = [ ".", "macros", "examples/mobile" , "migration",]
resolver = "3"

[workspace.package]
edition = "2024"
version = "0.0.2"
description = "A local-first application framework for lazy person"
license = "MIT OR Apache-2.0"
repository = "https://github.com/fluo10/caretta-sync" 

[workspace.dependencies]
anyhow = "1.0.100"
async-trait = "0.1.89"
base32 = "0.5.1"
bevy = "0.17.2"
caretta-id = { version = "0.9.1", features=[ "redb", "serde" ]}
caretta-sync = {version = "0.0.2", path = "." }
caretta-sync-macros = { version = "0.0.2", path = "macros" }
caretta-sync-migration = {version = "0.0.2", path = "migration"}
chrono = { version = "0.4.41", features = [ "serde" ]}
ciborium = "0.2.2"
clap = { version = "4.5.38", features = [ "derive", "env" ] }
dirs = "6.0.0"
futures = { version = "0.3.31", features = ["executor"] }
iroh = { version = "0.95.1", features = ["discovery-local-network", "discovery-pkarr-dht"] }
iroh-ping = "0.7.0"
iroh-tickets = "0.1.0"
irpc = "0.11.0"
n0-future = "0.3.1"
quinn = { package = "iroh-quinn", version = "0.14.0" }
quinn-udp = "0.5.14"
rand = "0.9.2"
sea-orm-migration = { version = "2.0.0-rc", features = [ "runtime-tokio-rustls", "sqlx-postgres" ] }
serde = { version = "1.0.219", features = ["derive"] }
tempfile = "3.20.0"
thiserror = "2.0.12"
tokio = { version = "1.45.0", features = ["macros", "rt", "rt-multi-thread"] }
tokio-stream = "0.1.17"
toml = "0.9.8"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
url = "2.5.7"
uuid = { version = "1.17.0", features = ["v7"] }
whoami = "1.6.1"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
codegen-units = 1
lto = "thin"
