[package]
name = "caretta-sync-example-core"
edition.workspace = true
version.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
caretta-sync.workspace = true
rmcp.workspace = true